
@tailwind base;
@tailwind components;
@tailwind utilities;
.profilePhoto{
  border-radius: 50%;
}
#root{
  width: 100vw;
}
.SearchBox{
  width: 25vw;
}
.Q{
  position: relative;
  left: 26%;
  top: 0%;
  height: 100%;
}
.AE{
  position: relative;
  left: 8%;
  top: 9%;
}
.containerScrollPage{
  position: fixed;
  left: 4%;
  width: 64vw;
}
.inbox{
  margin-left: 1em;
  margin-top: 0.2em;
}
.timeAgo{
  margin-left: -6.5em;
  margin-top: 1.9em;
  font-size: 0.7em;
}
.containerSearchBox{
  position:  fixed;
  left: 3%; 
  top: 0;
}
.containerNotificaion{
  position:  fixed;
  left: 3%; 
  top: 0;
}
.containerExplorePage{
  position: fixed;
  left: 4%;
  width: 64vw;
}
i:hover{
  color: yellow;
  filter: drop-shadow(0 0 0.75rem white);
}
h3{
  margin-left: 1.5em;
  margin-top: 1em;
  font-weight: 600;
}
.messages i:hover{
  color: aliceblue;
  filter: drop-shadow(0 0 0.50rem white);
  
}
.AF{
  position: relative;
    top: -10%;
    left: 27%;
}
.AD{
  position: relative;
  top: 7%;
  left: 16%;
}
/* App.css */

.container2.light {
  background-color: white;
  color: black;
}

.container2.dark {
  background-color: black;
  color: white;
}

/* Additional styles */

.containerScrollPage {
  overflow-y: auto;
}

.post-container {
  /* margin-bottom: 16px; Add some margin between posts */
}
.containerPost{
  margin: 0;
}
.containerAddPost{
  position: fixed;
  left: 18%;
  top: 20%;
  height: 60vh;
  border-radius: 15px;
  /* border: 3px white solid; */
  filter: drop-shadow(0 0 0.50rem white);
  transition: filter ease-in-out 0.5s;

}
.blur{
  filter: blur(3px);
  transition: filter ease-in-out 0.5s;
}
html{
  background-color: black;
}
/* From uiverse.io by @satyamchaudharydev */
/* this button is inspired by -- whatsapp input */
/* == type to see fully interactive and click the close buttom to remove the text  == */

.form {
  --input-bg: #FFf;
 /*  background of input */
  --padding: 1.5em;
  --rotate: 80deg;
 /*  rotation degree of input*/
  --gap: 2em;
  /*  gap of items in input */
  --icon-change-color: #15A986;
 /*  when rotating changed icon color */
  --height: 40px;
 /*  height */
  width: 200px;
  padding-inline-end: 1em;
 /*  change this for padding in the end of input */
  background: var(--input-bg);
  position: relative;
  border-radius: 4px;
}

.form label {
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--height);
}

.form input {
  width: 100%;
  padding-inline-start: calc(var(--padding) + var(--gap));
  outline: none;
  background: none;
  border: 0;
}
/* style for both icons -- search,close */
.form svg {
  /* display: block; */
  color: #111;
  transition: 0.3s cubic-bezier(.4,0,.2,1);
  position: absolute;
  height: 15px;
}
/* search icon */
.icon {
  position: absolute;
  left: var(--padding);
  transition: 0.3s cubic-bezier(.4,0,.2,1);
  display: flex;
  justify-content: center;
  align-items: center;
}
/* arrow-icon*/
.swap-off {
  transform: rotate(-80deg);
  opacity: 0;
  visibility: hidden;
}
/* close button */
.close-btn {
  /* removing default bg of button */
  background: none;
  border: none;
  right: calc(var(--padding) - var(--gap));
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #111;
  padding: 0.1em;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transition: 0.3s;
  opacity: 0;
  transform: scale(0);
  visibility: hidden;
}

.form input:focus ~ .icon {
  transform: rotate(var(--rotate)) scale(1.3);
}

.form input:focus ~ .icon .swap-off {
  opacity: 1;
  transform: rotate(-80deg);
  visibility: visible;
  color: var(--icon-change-color);
}

.form input:focus ~ .icon .swap-on {
  opacity: 0;
  visibility: visible;
}

.form input:valid ~ .icon {
  transform: scale(1.3) rotate(var(--rotate))
}

.form input:valid ~ .icon .swap-off {
  opacity: 1;
  visibility: visible;
  color: var(--icon-change-color);
}

.form input:valid ~ .icon .swap-on {
  opacity: 0;
  visibility: visible;
}

.form input:valid ~ .close-btn {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: 0s;
}
/* width */
::-webkit-scrollbar {
  width: 2px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  height: 2px;
  max-height: 2px;
  background: rgb(150,0,255);
  background: linear-gradient(180deg, rgba(150,0,255,1) 0%, rgba(232,37,37,1) 97%, rgba(255,0,0,1) 99%);
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(150,0,255);
  background: linear-gradient(180deg, rgba(150,0,255,1) 0%, rgba(232,37,37,1) 97%, rgba(255,0,0,1) 99%);
}
input::placeholder{
  color: rgb(194, 194, 194);
  /* margin-left: 1em; */
  align-self: center;
  text-align: center;
}
input{
text-align: center;
}


.infinity-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; /* Adjust as needed */
  margin-top: 20px; /* Adjust as needed */
}

.st0 {
  fill: none;
  stroke: url(#gradient); /* Use gradient stroke */
  stroke-width: 2;
  stroke-miterlimit: 10;
 
}

.path-animation {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation: dash 2s linear infinite;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
.i:hover{
  background: linear-gradient(to top, #f32121, #ffce08,#c350c3, #3c01ff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  transition: hover 1s ease-in-out
}

.over{
  width: 32vw;
  height: 12vh;
  position: fixed;
  top: 88%;
  background-color: #000;
  right: 0%;
}

.over2{
  width: 32vw;
  height: 12vh;
  position: fixed;
  top:-4%;
  background-color: #000;
  right: 0%;
  z-index: 20;
}
.LS{
  position: absolute;
  left: 36%;
  top: 9%;
  /* margin-b/ottom: 1em; */
}
.overlay3{
  /* border: 0.2vh solid #3d3a3a; */
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  position: absolute;
  top: 0%;
  left: 10%;
  /* z-index: 50; */
}
.l{
  background: linear-gradient(to right, #fb00ff, #ffce08,#00d9ff, #1fff01);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

}
#d:hover{
color: red;
}


.containers {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  filter: url("#goo");
  animation: rotate-move 2s ease-in-out infinite;
}

.dot {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.dot-3 {
  background-color: #ff1717;
  animation: dot-3-move 1.5s ease infinite, index 2s ease infinite;
}

.dot-2 {
  background-color: #0051ff;
  animation: dot-2-move 1.5s ease infinite, index 2s -4s ease infinite;
}

.dot-1 {
  background-color: #ee00ff;
  animation: dot-1-move 1.5s ease infinite, index 2s -2s ease infinite;
}

@keyframes dot-3-move {
  20% {
    transform: scale(1);
  }
  45% {
    transform: translateY(-18px) scale(0.45);
  }
  60% {
    transform: translateY(-90px) scale(0.45);
  }
  80% {
    transform: translateY(-90px) scale(0.45);
  }
  100% {
    transform: translateY(0px) scale(1);
  }
}

@keyframes dot-2-move {
  20% {
    transform: scale(1);
  }
  45% {
    transform: translate(-16px, 12px) scale(0.45);
  }
  60% {
    transform: translate(-80px, 60px) scale(0.45);
  }
  80% {
    transform: translate(-80px, 60px) scale(0.45);
  }
  100% {
    transform: translateY(0px) scale(1);
  }
}

@keyframes dot-1-move {
  20% {
    transform: scale(1);
  }
  45% {
    transform: translate(16px, 12px) scale(0.45);
  }
  60% {
    transform: translate(80px, 60px) scale(0.45);
  }
  80% {
    transform: translate(80px, 60px) scale(0.45);
  }
  100% {
    transform: translateY(0px) scale(1);
  }
}

@keyframes rotate-move {
  55% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  80% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes index {
  0%,
  100% {
    z-index: 3;
  }
  33.3% {
    z-index: 2;
  }
  66.6% {
    z-index: 1;
  }
}

.AN{
  height: 96vh;
}
.z{
  width: 280vw;
}
.b{
  position: relative;
  top: 0%;
  left: 0%;
  text-align: left;
}

.W{
  position: absolute;
  left: 37%;
  top: 29%;
}
.TX{
  position: absolute;
  top: 15%;
  left: 35%;
}
@media only screen and (max-width: 402px) {

.container{
  background-color: transparent;
  width: 10vw;
  height: 100vh;
  z-index: 2;
  gap: 5em;
  display: flex;
}
.containerInbox{
  display: none;
}
.containerScrollPage{
  width: 90vw;
  margin-left:10%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.q{
  position: absolute;
  left: 60%;
}
.a{
  position: absolute;
  left: 85%;
}
.containerPost{
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin-left: 0em;
  scroll-snap-align: start;
  z-index: 10;
}
.post{
  width: 80vw;
  height: 50vh;
  align-self: self-start;
  margin-left: 0em;
}
.post:nth-child(1){
  margin-top: 2em;
}
.b{
  position: relative;
  top: 10%;
  left: 10%;
  width: fit-content;
  text-wrap: nowrap;
  margin-left: -1.8em;
  align-items: center;
  align-self: center;
  margin-bottom: 0.5em;
}
.description{
  margin-top: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.c{
  align-items: center;
  align-self: center;
  justify-content: flex-start;
  width: 80vw;
  border-bottom: none;
position: relative;
top: -5%;
left: -13%;
  border: 0.2vh solid #3d3a3a;
}
.d{
  scroll-snap-type: y mandatory;
}
.e{
  width: 78vw;
  text-align: left;
  text-indent: 0;
  max-height: 4em;
  align-self: center;
  position: relative;
  /* top: 1%; */
  margin-left: -31px;
}
.f{
position: relative;
top: 20%;
display: flex;
flex-direction: row;
gap: 1em;
}
.g{
  display: flex;
flex-direction: row;
gap: 2em;
margin-left: -1.2em;
}
.h{
  font-size: 1em;
  width: 30vw;
  position: relative;
  top: 10%;
  left: -8%;
}

.l{
  left: 40%;
  width: fit-content;
  top: 2%;
}
.M{
  font-size: 1.7em;
  position: fixed;
  top: 1em;
}
.N{
  position: fixed;
  right: 8%;
  top: 5%;
  font-size: 1.8em;
}
.comm{
  height: 95vh;
  gap: .5em;
}
.O:first-child{
  margin-top: 3em;
}
.O{
  font-size: 1em;
}
.SearchBox{
  width: 70vw;
  height: 6vh;
}
.containerAddPost{
  width: 90vw;
  margin-left: -2em;
}
.P{
  font-size: 1.8em;
  position: absolute;
  right: 6%;
  top: 5%;
}
.K{
  font-size: 1.5em;
}
.J{
 height: auto;
 max-width: 90vw;
 max-height: 35vh;
 width: auto;
}
.H{
margin-left: 0;
width: 700vw;
background-color: black;
position: relative;
left: 10%;
}
.G{
  position: relative;
  left: 15%;
}
.B{
  position: relative;
  top: 7em;
  left: 5%;
  font-size: 2.5em;
}
.W{
  position: absolute;
  left: 0%;
  top: 50%;
  width: 30vw;
}
.A{
  position: fixed;
  left: 18%;
  top: 60%;
  height: 50vh;
}
.Y{
  position: relative;
left: 0;
max-height: 50vh;
  
  margin-left: 0;

}
.AB{
  position: relative;
  top: 20%;
  /* left: 10%; */
  /* background-color: #0051ff; */
  width: 70vw;
  margin-left: 0;
  /* height: fit-content; */
  max-height: 20vh;
  margin-top: 0;
}
.Q{
  z-index: 5;
  position: relative;
  left: 0;
 
  top: 0;
}
.overlay3{
  /* background-color: rgb(255, 0, 0); */
  width: 90vw;
  height: 75vh;
  position: relative;
  left: 5%;
  top: 9%;
}
.AC{
  position: absolute;
  left: 33%;
  top: -59%;
}
.AD{
  position: absolute;
  z-index: 50;
  top: 29%;
  margin-top: 0em;
  left: 5%;
  width: 90vw;
}
.AE{
  position: relative;
  left: -2%;
  top: 0;
  height: 20vh;
  width: 42vw;
  margin-left: 5em;
}
.AF{
  position: relative;
  top: 5%;
  left: 33%;
}
.containerSearchBox{
  width: 100vw;
  margin-left: 1em
}
.AG{
position: relative;
left: 0;
width: 80vw;
margin-top: 1em;
}
.AH{
  position: relative;
left: 0;
width: 80vw;

}
.AI{
  width: 20vw;
  height: 20vw;
}
.AJ{
  width: 50vw;
  height: fit-content;
}
.AK{
  position: absolute;
  right: 20%;
  font-size: 1.5em;
  top: 2%;
}
.AL{
  width: 100vw;
  height: 100vh;
}
.AM{
  width: 50vw;
  position: absolute;
  left: -10%;
  top: -35%;
}
.AN{
  position: absolute;
  top: 40%;
  left: -7%;
  width: 70vw;
  height: 60vh;
}
.DA{
 position: absolute;
 right: -2%;
}
.LS{
  margin-left: 3.5em;
}
.B{
  margin-left: 3.5em;
}
.X{
 position: absolute;
 right: 5%;
}
}